.ecos__card-section-text {
    color: rgb(45, 51, 123);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width:950px) {
    .ecos__card-section-text {
        font-size: 13px;
    }
  }