.home__text {
    font-size: 50px;
    letter-spacing: 1.2px;
    color: white;
    margin-bottom: 0px;
    font-weight: 800;
}

@media screen and (max-width:1000px) {
    .home__text {
        font-size: 40px;
    }
  }

  @media screen and (max-width:830px) {
    .home__text {
        font-size: 50px;
    }
  }

  @media screen and (max-width:430px) {
    .home__text {
        font-size: 40px;
    }
  }