.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__content {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width:1000px) {
    .info__content {
        justify-content: space-between;
    }
}

@media screen and (max-width:850px) {
    .info__content {
        justify-content: center;
    }
}

@media screen and (max-width:830px) {
    .info__content {
        margin-top: 280px;
    }
}

@media screen and (max-width:500px) {
    .info__content {
        margin-top: 230px;
    }
}

@media screen and (max-width:460px) {
    .info__content {
        margin-top: 180px;
    }
}

@media screen and (max-width:431px) {
    .info__content {
        margin-top: 150px;
    }
}

.info__img {
    max-width: 400px;
    margin-top: -80px;
}

@media screen and (max-width:1000px) {
    .info__img {
        margin-top: -10px;
        max-width: 360px;
    }
}

@media screen and (max-width:850px) {
    .info__img {
        display: none;
    }
}

.info__textcontainer {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}

@media screen and (max-width:850px) {
    .info__textcontainer {
        width: 90%;
    }
}

.info__text {
    font-weight: 900;
    font-size: 40px;
    font-style: bold;
    letter-spacing: 1.2px;
    color: white;
}

@media screen and (max-width:1000px) {
    .info__text {
        font-size: 30px;
    }
}

@media screen and (max-width:850px) {
    .info__text {
        font-size: 40px;
    }
}

@media screen and (max-width:550px) {
    .info__text {
        font-size: 26px;
    }
}

.info__textyellow {
    color: rgb(245, 223, 79);
    font-weight: 700;
    font-size: 25px;
    font-style: bold;
    letter-spacing: 1.2px;
}

@media screen and (max-width:1000px) {
    .info__textyellow {
        font-size: 21px;
    }
}

@media screen and (max-width:850px) {
    .info__textyellow {
        font-size: 25px;
    }
}

@media screen and (max-width:550px) {
    .info__textyellow {
        font-size: 20px;
    }
}

.info__textblue {
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
    color: rgb(178, 181, 226);
}

@media screen and (max-width:1000px) {
    .info__textblue {
        font-size: 19px;
    }
}

@media screen and (max-width:850px) {
    .info__textblue {
        font-size: 20px;
    }
}

@media screen and (max-width:550px) {
    .info__textblue {
        font-size: 19px;
    }
}

.info__textlight {
    font-weight: 300;
    font-size: 20px;
    color: rgb(164, 166, 218);
}

@media screen and (max-width:1000px) {
    .info__textlight {
        font-size: 18px;
    }
}

@media screen and (max-width:850px) {
    .info__textlight {
        font-size: 20px;
    }
}

@media screen and (max-width:550px) {
    .info__textlight {
        font-size: 18px;
    }
}

.info__table {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width:1000px) {
    .info__table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 70px;
    }
}

.info__card1 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178, 211, 92);
    border-bottom-left-radius: 30%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card1 {
        width: 50%;
        justify-self: center;
    }
}

@media screen and (max-width:680px) {
    .info__card1 {
        width: 70%;
        justify-self: flex-end;
    }
}

.info__card2 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178, 211, 92);
    border-bottom-right-radius: 30%;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card2 {
        width: 50%;
        justify-self: center;
    }
}

@media screen and (max-width:680px) {
    .info__card2 {
        width: 70%;
        justify-self: flex-start;
    }
}

.info__card3 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178, 211, 92);
    border-top-left-radius: 30%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card3 {
        width: 50%;
        justify-self: center;
    }
}

@media screen and (max-width:680px) {
    .info__card3 {
        width: 70%;
        justify-self: flex-end;
    }
}

.info__card4 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(245, 223, 79);
    border-bottom-right-radius: 30%;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card4 {
        width: 50%;
        justify-self: center;
    }
}

@media screen and (max-width:680px) {
    .info__card4 {
        width: 70%;
        justify-self: flex-start;
    }
}

.info__cardimgcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: -60px;
}

.info__cardimg {
    height: 100%;
}

.info__cardtext {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: rgb(61, 69, 156);
}

@media screen and (max-width:1000px) {
    .info__cardtext {
        font-size: 15px;
    }
}

.info__cardnumberbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(61, 69, 156);
    margin-bottom: -20px;
    border: 3px solid rgb(178, 211, 92);
}

.info__cardnumberboxyellow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(61,69,156);
    margin-bottom: -20px;
    border: 3px solid  rgb(245,223,79);
}

.info__cardnumber {
    color: white;
}

.info__tablearrow {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width:1000px) {
    .info__tablearrow {
        display: none;
    }
}

.info__tablearrowreverse {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    transform: rotate(180deg) scaleX(-1);
    align-self: flex-end;
}

@media screen and (max-width:1000px) {
    .info__tablearrowreverse {
        display: none;
    }
}