.ecos__card-section-span {
    color: rgb(45, 51, 123);
    font-weight: 600;
    font-size: 20px;
    font-style: bold;
}

@media screen and (max-width:950px) {
    .ecos__card-section-span {
        font-size: 16px;
    }
  }