.header__social-icon {
    width: 20px;
}

@media screen and (max-width:1024px) {
    .header__social-icon {
        width: 18px;
    }
  }

  @media screen and (max-width:900px) {
    .header__social-icon {
        width: 16px;
    }
  }

  @media screen and (max-width:800px) {
    .header__social-icon {
        width: 20px;
    }
  }