.ecos__text-container {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
}

@media screen and (max-width:950px) {
    .ecos__text-container {
        width: 50%;
    }
  }

  @media screen and (max-width:700px) {
    .ecos__text-container {
        width: 90%;
    }
  }