.home__links {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

@media screen and (max-width:1540px) {
    .home__links {
        width: 70%;
    }
  }

  @media screen and (max-width:1340px) {
    .home__links {
        width: 80%;
    }
  }

  @media screen and (max-width:1150px) {
    .home__links {
        width: 92%;
    }
  }