.home__logo {
    max-width: 300px;
}

@media screen and (max-width:1000px) {
    .home__logo {
        max-width: 250px;
    }
  }

  @media screen and (max-width:830px) {
    .home__logo {
        margin-top: 20px;
        max-width: 300px;
    }
  }

  @media screen and (max-width:430px) {
    .home__logo {
        max-width: 200px;
    }
  }