.header__social-container {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px) {
    .header__social-container {
        margin-top: 20px;
    }
  }