.dapp__link-yellow {
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(167,207,73);
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45,51,123);
    font-weight: 600;
    letter-spacing: 1.2px;
    opacity: 1;
    transition: 0.2s linear;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.dapp__link-yellow:hover {
    opacity: 0.8;
    transition: 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .dapp__link-yellow {
        font-size: 12px;
        
    }
  }

  @media screen and (max-width:720px) {
    .dapp__link-yellow {
       width: 20%;
    }
  }

  @media screen and (max-width:480px) {
    .dapp__link-yellow {
        font-size: 10px;
    }
  }

  @media screen and (max-width:425px) {
    .dapp__link-yellow {
        font-size: 8px;
    }
  }