.home__link-purple {
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(84,103,227);
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45,51,123);
    font-weight: 600;
    letter-spacing: 1.2px;
    opacity: 1;
    transition: 0.2s linear;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.home__link-purple:hover {
    opacity: 0.8;
    transition: 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .home__link-purple {
        font-size: 12px;
        
    }
  }

  @media screen and (max-width:720px) {
    .home__link-purple {
       width: 32%;
    }
  }

  @media screen and (max-width:480px) {
    .home__link-purple {
        font-size: 10px;
    }
  }

  @media screen and (max-width:425px) {
    .home__link-purple {
        font-size: 8px;
    }
  }