.home__text-green {
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 1.2px;
    color: rgb(188,214,89);
    font-weight: 800;
}

@media screen and (max-width:1000px) {
    .home__text-green {
        font-size: 30px;
    }
  }

  @media screen and (max-width:830px) {
    .home__text-green {
        font-size: 40px;
    }
  }

  @media screen and (max-width:430px) {
    .home__text-green {
        font-size: 30px;
    }
  }