.notfound__link {
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,224,79);
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45,51,123);
    font-weight: 600;
    letter-spacing: 1.2px;
    opacity: 1;
    transition: 0.2s linear;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.notfound__link:hover {
    opacity: 0.8;
    transition: 0.2s linear;
    cursor: pointer;
}