.why__table {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 80px;
}

@media screen and (max-width:1000px) {
    .why__table {
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        row-gap: 80px;
    }
  }

  @media screen and (max-width:1000px) {
    .why__table {
        grid-template-columns: repeat(1,1fr);
    }
  }