<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../pages/index.css">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    <title>OxMiner</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="header__content">

                <nav class="header__nav-bar">
                    <a href="../../index.html">
                        <img class="header__logo" src="../../images/logo-icon.svg" alt="Logo" />
                    </a>

                    <div class="header__hamburger">
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                    </div>

                    <div class="header__nav-container">
                        <ul class="header__links-container">
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#about">About OxMiner</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#why">Why OxMiner?</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#line-up">Line-up</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#team">Team</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#contacts">Contacts</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../DApp.html">White Paper</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../404.html">DApp</a>
                            </li>
                        </ul>

                        <div class="header__social-container">
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/discord-icon.png" alt="Discord" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/telegram-icon.png" alt="Telegram" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/twitter-icon.png" alt="Twitter" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/yt-icon.png" alt="YouTube" /></a>
                        </div>

                    </div>
                </nav>

            </div>
        </header>

        <section class="terms">
            <div class="terms__content">
                <img class="terms__logo" src="../../images/logo-type-part.svg" alt="OxMiner" />
                <h1 class="terms__title">Business Model</h1>
                <p class="terms__text">0xMiner has crafted a distinct financial ecosystem where the investor plays a
                    pivotal role. Here's a breakdown of how it works:</p>

                <h2 class="terms__title">Investor Participation:</h2>
                <p class="terms__text">An investor enters the 0xMiner ecosystem, representing a crucial component of our
                    model. Their
                    involvement initiates the minting process, linking them directly to the potential rewards generated
                    by the platform.</p>


                <h2 class="terms__title">Minting Process:</h2>
                <p class="terms__text">
                    Once an investor integrates into the 0xMiner platform, they can engage in the minting process. This
                    phase transforms their investment into a tangible asset within our ecosystem, preparing it for the
                    reward distribution phase.
                </p>


                <h2 class="terms__title">0xMiner Financial Platform:</h2>
                <p class="terms__text">
                    Central to our business model is the 0xMiner Financial Platform. It acts as the operational hub
                    where all transactions, minting, and reward distribution occur. The platform is designed for
                    efficiency, transparency, and security, ensuring that every investor's assets are managed with the
                    utmost care.
                </p>

                <h2 class="terms__title">Reward Distribution:</h2>
                <p class="terms__text">
                    The culmination of the investor's journey is the reward phase. Based on their minted assets and the
                    platform's performance, periodic rewards are distributed, ensuring a return on their investment.
                </p>


                <h2 class="terms__title">Strategic Location:</h2>
                <p class="terms__text">
                    Our mining factory is strategically located in Armenia's Economic Free Zone. This advantageous
                    position offers us several benefits, including regulatory flexibility and operational efficiencies.
                </p>
                <img class="dapp__img" src="../../images/location.png" alt="location">

                <h2 class="terms__title">Commitment to Sustainability:</h2>
                <p class="terms__text">
                    In line with our vision for a sustainable crypto future, our mining operations are powered by
                    renewable and low-impact energy sources. By utilizing an advanced and ready-to-use infrastructure,
                    we ensure that our mining activities have a minimal environmental footprint while maximizing returns
                    for our investors.
                </p>

                <h2 class="terms__title">Benefits of 0xMiner: Financial Approach for Holders</h2>
                <h2 class="terms__title">Hardware Value:</h2>
                <p class="terms__text">
                    Holders are provided with transparent information about the capital-to-hardware ratio for mining.
                    This information empowers them to make informed decisions and clearly understand their investments.
                </p>

                <h2 class="terms__title">Investment Simplicity:</h2>
                <p class="terms__text">
                    Our financial model mirrors the simplicity of real estate investments. By owning an NFT, holders
                    automatically become eligible to earn returns. Profit realization is as straightforward as selling
                    and transferring the NFT.
                </p>

                <h2 class="terms__title">Capital Accumulation Plan (CAP):</h2>
                <p class="terms__text">
                    0xMiner introduces a Capital Accumulation Plan (CAP) that provides holders with flexible hardware
                    investment options. They can choose from one-time investments, staggered contributions, or
                    reinvestment strategies, allowing for genuine savings and tailored investment approaches.
                </p>

                <h2 class="terms__title">Periodic Returns:</h2>
                <p class="terms__text">
                    NFT holders are entitled to periodic returns based on their investment value and Bitcoin's market
                    price during the distribution and sale phases. This provides a steady stream of income, contributing
                    to the sustainability of their investments.
                </p>

                <h2 class="terms__title">Stability Assurance:</h2>
                <p class="terms__text">
                    One of the key benefits is the absence of impermanent loss. Investment value remains fixed upon
                    deposit, guaranteeing stability regardless of market fluctuations.
                </p>
                <img class="dapp__img" src="../../images/scheme.png" alt="scheme">
            </div>

            <div class="dapp__links">
                <a class="dapp__link-yellow" href="./principals.html"><img class="dapp__button"
                        src="../../images/arrow-back.png" alt="back" />Principals</a>
                <a class="dapp__link-green" href="./howItWorks.html"><img class="dapp__button" src="../../images/arrow-next.png"
                        alt="next" />How it works?</a>
            </div>
        </section>
    </div>

    <footer class="footer" id="contacts">
        <div class="footer__content">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="../../images/logo-type-part.svg" alt="logo" />
            </div>

            <div class="footer__text-container">
                <p class="footer__text">GTAEurope OÜ (16520173)<br>
                    Address: Harju maakond,<br> Tallinn, Lasnamäe linnaosa,<br> Lõõtsa tn 2a, 11415, Estonia<br>
                    +372 56810800
                </p>
                <p class="footer__email">Email: <a class="footer__email-link"
                        href="mailto: info@oxminer.io">info@oxminer.io</a></p>
                <p class="footer__text">Copyright &#169 2023 OxMiner&#174<br> All rights reserved.</p>
            </div>

            <div class="footer__social-container">
                <p class="footer__text">Follow us:</p>
                <div class="footer__social-icon-container">
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/discord-icon.png" alt="Discord" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/telegram-icon.png" alt="Telegram" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/twitter-icon.png" alt="Twitter" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../../images/yt-icon.png"
                            alt="YouTube" /></a>
                </div>
            </div>

        </div>
        <div class="footer__legal-container">
            <a class="footer__legal-text" href="../privacyPolicy.html">Privacy Policy</a>
            <a class="footer__legal-text" href="../termsAndConditions.html">Terms & Conditions</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../index.js"></script>
</body>

</html>