<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../pages/index.css">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    <title>OxMiner</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="header__content">

                <nav class="header__nav-bar">
                    <a href="../../index.html">
                        <img class="header__logo" src="../../images/logo-icon.svg" alt="Logo" />
                    </a>

                    <div class="header__hamburger">
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                    </div>

                    <div class="header__nav-container">
                        <ul class="header__links-container">
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#about">About OxMiner</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#why">Why OxMiner?</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#line-up">Line-up</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#team">Team</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#contacts">Contacts</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../DApp.html">White Paper</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../404.html">DApp</a>
                            </li>
                        </ul>

                        <div class="header__social-container">
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/discord-icon.png" alt="Discord" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/telegram-icon.png" alt="Telegram" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/twitter-icon.png" alt="Twitter" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/yt-icon.png" alt="YouTube" /></a>
                        </div>

                    </div>
                </nav>

            </div>
        </header>

        <section class="terms">
            <div class="terms__content">
                <img class="terms__logo" src="../../images/logo-type-part.svg" alt="OxMiner" />
                <h1 class="terms__title">Principals: What Makes Us Different?</h1>
                <h2 class="terms__title">1. Security First</h2>
                <p class="terms__text">At OxMiner, security is our top priority. We understand the importance of
                    safeguarding your investments and personal information in crypto. Here's how we ensure your
                    security:
                    <br><br><br>
                    - Robust Infrastructure: Our mining factory, located in Armenia's Economic Free Zone, utilizes an
                    advanced and ready-to-use infrastructure, ensuring reliability and stability.
                    <br><br>
                    - Green Bitcoin Mining: We're committed to sustainable and low-impact energy sources for Bitcoin
                    mining, reducing environmental impact and ensuring long-term viability.
                    <br><br>
                    - Smart Contract Security: Our smart contracts undergo rigorous auditing and testing to eliminate
                    vulnerabilities and ensure your investments are safe.
                    <br><br>
                    - Data Protection: We adhere to the highest data protection standards, ensuring that your personal
                    information remains confidential and secure.
                </p>

                <h2 class="terms__title">2. Guaranteed Returns</h2>
                <p class="terms__text">What truly sets us apart is our commitment to providing guaranteed returns. With
                    our Gen 1 NFTs,
                    investors can enjoy a guaranteed 300% ROI over 4 years. This level of assurance is unparalleled in
                    the crypto space, giving you peace of mind as you invest.</p>


                <h2 class="terms__title">3. Community-Centric</h2>
                <p class="terms__text">We believe in the power of community. OxMiner Gen 1 NFT holders are not just
                    investors; they become integral members of our project. You'll have the opportunity to participate
                    in shaping the project's future through our special "Board of Genesis investors."</p>


                <h2 class="terms__title">4. Access to Exclusive Opportunities</h2>
                <p class="terms__text">Investing with OxMiner opens doors to exclusive crypto and real-world asset
                    opportunities. You'll
                    gain access to investment proposals that are typically reserved for very high-net-worth individuals
                    and institutional investors.</p>

                <h2 class="terms__title">5. Continuous Growth and Innovation</h2>
                <p class="terms__text">Our commitment to innovation means we always look for new ways to enhance your
                    investment experience. We are dedicated to exploring diverse investment avenues and expanding our
                    service range, ensuring that your investments with us continue to grow.</p>

            </div>

            <div class="dapp__links">
                <a class="dapp__link-yellow" href="./values.html"><img class="dapp__button"
                        src="../../images/arrow-back.png" alt="back" />Values</a>
                <a class="dapp__link-green" href="./businessModel.html"><img class="dapp__button" src="../../images/arrow-next.png"
                        alt="next" />Business Model</a>
            </div>
        </section>
    </div>

    <footer class="footer" id="contacts">
        <div class="footer__content">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="../../images/logo-type-part.svg" alt="logo" />
            </div>

            <div class="footer__text-container">
                <p class="footer__text">GTAEurope OÜ (16520173)<br>
                    Address: Harju maakond,<br> Tallinn, Lasnamäe linnaosa,<br> Lõõtsa tn 2a, 11415, Estonia<br>
                    +372 56810800
                </p>
                <p class="footer__email">Email: <a class="footer__email-link"
                        href="mailto: info@oxminer.io">info@oxminer.io</a></p>
                <p class="footer__text">Copyright &#169 2023 OxMiner&#174<br> All rights reserved.</p>
            </div>

            <div class="footer__social-container">
                <p class="footer__text">Follow us:</p>
                <div class="footer__social-icon-container">
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/discord-icon.png" alt="Discord" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/telegram-icon.png" alt="Telegram" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/twitter-icon.png" alt="Twitter" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../../images/yt-icon.png"
                            alt="YouTube" /></a>
                </div>
            </div>

        </div>
        <div class="footer__legal-container">
            <a class="footer__legal-text" href="../privacyPolicy.html">Privacy Policy</a>
            <a class="footer__legal-text" href="../termsAndConditions.html">Terms & Conditions</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../index.js"></script>
</body>

</html>