<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../pages/index.css">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    <title>OxMiner</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="header__content">

                <nav class="header__nav-bar">
                    <a href="../../index.html">
                        <img class="header__logo" src="../../images/logo-icon.svg" alt="Logo" />
                    </a>

                    <div class="header__hamburger">
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                    </div>

                    <div class="header__nav-container">
                        <ul class="header__links-container">
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#about">About OxMiner</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#why">Why OxMiner?</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#line-up">Line-up</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#team">Team</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../../index.html#contacts">Contacts</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../DApp.html">White Paper</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../404.html">DApp</a>
                            </li>
                        </ul>

                        <div class="header__social-container">
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/discord-icon.png" alt="Discord" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/telegram-icon.png" alt="Telegram" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/twitter-icon.png" alt="Twitter" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../../images/yt-icon.png" alt="YouTube" /></a>
                        </div>

                    </div>
                </nav>

            </div>
        </header>

        <section class="terms">
            <div class="terms__content">
                <img class="terms__logo" src="../../images/logo-type-part.svg" alt="OxMiner" />
                <h1 class="terms__title">Roadmap and Development Plan <br><br>
                    Timeline</h1>
                <p class="terms__text">
                    Our journey at 0xMiner is marked by significant milestones that outline our commitment to
                    innovation, user engagement, and the continuous expansion of our offerings. Here's a glimpse of our
                    roadmap:
                    <br><br>
                    Gen 1 NFT Sale: (October - November 2023) <br>
                    In the initial phase, we will launch the Gen 1 NFT sale, offering you the exclusive opportunity to
                    own these highly valuable tokens.
                    <br><br>
                    Platform Launch: (December 2023) <br>
                    As we move forward, we are dedicated to launching our comprehensive platform in December 2023. This
                    platform will be your gateway to passive income through Bitcoin mining and NFT minting.
                    <br><br>
                    Bitcoin Rewards: (Unlocked after 1 year from platform launch) <br>
                    To ensure the sustainability of our ecosystem, we will unlock Bitcoin rewards for our users after
                    one year from the platform's launch.
                </p>

                <h2 class="terms__title">Roadmap</h2>
                <p class="terms__text">
                    Our roadmap is a testament to our commitment to creating a secure, profitable, and innovative
                    financial ecosystem. We have identified key strategic initiatives that will guide our development
                    and growth:
                    <br><br>
                    1. Community Building: <br>
                    Our first priority is to engage with our community and foster its growth. We believe that a strong
                    community is the foundation of success. Through continuous interaction and support, we aim to create
                    an active and passionate user base.
                    <br><br><br>
                    2. NFT Bitcoin Mining: <br>
                    At the core of our platform lies the fusion of NFTs and Bitcoin mining. We will introduce our unique
                    mining platform, offering you the opportunity to mint NFTs and benefit from Bitcoin mining's
                    stability and profitability.
                    <br><br><br>
                    3. Diverse Investment Avenues: <br>
                    We are committed to exploring and offering new financial opportunities to our users. Our goal is to
                    provide you with a diverse range of investment options to suit your financial objectives.
                </p>

                <h2 class="terms__title">Development Plan</h2>
                <p class="terms__text">
                    0xMiner's development team is composed of experienced engineers and professionals with a proven
                    track record in the cryptocurrency industry. We are committed to building a secure, reliable, and
                    user-friendly platform for our users.
                    <br><br>
                    Our development process is agile and iterative, which allows us to quickly respond to feedback from
                    our users and adapt to changing market conditions. We also have a strong focus on quality assurance
                    and testing, to ensure that our platform is as secure and bug-free as possible.
                    <br><br>
                    We are committed to transparency and communication with our community. We regularly publish updates
                    on our development progress and roadmap, and we are always open to feedback from our users.
                    <br><br>
                    We believe that 0xMiner has the potential to revolutionize the way people invest in Bitcoin mining
                    and NFTs. We are excited to continue developing our platform and helping our users achieve their
                    financial goals.
                </p>


            </div>

            <div class="dapp__links">
                <a class="dapp__link-yellow" href="./howItWorks.html"><img class="dapp__button"
                        src="../../images/arrow-back.png" alt="back" />How it works?</a>
                <a class="dapp__link-green" href="./team.html"><img class="dapp__button" src="../../images/arrow-next.png"
                        alt="next" />Team</a>
            </div>
        </section>
    </div>

    <footer class="footer" id="contacts">
        <div class="footer__content">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="../../images/logo-type-part.svg" alt="logo" />
            </div>

            <div class="footer__text-container">
                <p class="footer__text">GTAEurope OÜ (16520173)<br>
                    Address: Harju maakond,<br> Tallinn, Lasnamäe linnaosa,<br> Lõõtsa tn 2a, 11415, Estonia<br>
                    +372 56810800
                </p>
                <p class="footer__email">Email: <a class="footer__email-link"
                        href="mailto: info@oxminer.io">info@oxminer.io</a></p>
                <p class="footer__text">Copyright &#169 2023 OxMiner&#174<br> All rights reserved.</p>
            </div>

            <div class="footer__social-container">
                <p class="footer__text">Follow us:</p>
                <div class="footer__social-icon-container">
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/discord-icon.png" alt="Discord" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/telegram-icon.png" alt="Telegram" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../../images/twitter-icon.png" alt="Twitter" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../../images/yt-icon.png"
                            alt="YouTube" /></a>
                </div>
            </div>

        </div>
        <div class="footer__legal-container">
            <a class="footer__legal-text" href="../privacyPolicy.html">Privacy Policy</a>
            <a class="footer__legal-text" href="../termsAndConditions.html">Terms & Conditions</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../index.js"></script>
</body>

</html>