.info__card1 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178,211,92);
    border-bottom-left-radius: 30%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card1 {
        width: 50%; 
        justify-self: center;
    }
  }

  @media screen and (max-width:680px) {
    .info__card1 {
        width: 70%;
        justify-self: flex-end;
    }
  }

.info__card2 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178,211,92);
    border-bottom-right-radius: 30%;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card2 {
        width: 50%;
        justify-self: center; 
    }
  }

  @media screen and (max-width:680px) {
    .info__card2 {
        width: 70%;
        justify-self: flex-start;
    }
  }

.info__card3 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(178,211,92);
    border-top-left-radius: 30%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:1000px) {
    .info__card3 {
        width: 50%;
        justify-self: center;
    }
  }

  @media screen and (max-width:680px) {
    .info__card3 {
        width: 70%;
        justify-self: flex-end;
    }
  }

.info__card4 {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    max-height: 350px;
    background-color: rgb(245,223,79);
    border-bottom-right-radius: 30%;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px; 
}

@media screen and (max-width:1000px) {
    .info__card4 {
        width: 50%;
        justify-self: center;
    }
  }

  @media screen and (max-width:680px) {
    .info__card4 {
        width: 70%;
        justify-self: flex-start;
    }
  }