.home__img {
    max-width: 450px;
    animation: bounce 3.5s infinite linear;
}

@media screen and (max-width:1000px) {
    .home__img {
        max-width: 400px;
    }
  }

  @media screen and (max-width:830px) {
    .home__img {
        max-width: 450px;
        margin-top: 20px;
    }
  }

  @media screen and (max-width:500px) {
    .home__img {
        max-width: 350px;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0px)
    }
    50% {
      transform: translateY(20px);
      transform: translateX(-20px);
    }
    100% {
      transform: translateY(0px);
      transform: translateX(0px);
    }
  }