<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/index.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>OxMiner</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="header__content">

                <nav class="header__nav-bar">
                    <a href="../index.html">
                        <img class="header__logo" src="../images/logo-icon.svg" alt="Logo" />
                    </a>

                    <div class="header__hamburger">
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                    </div>

                    <div class="header__nav-container">
                        <ul class="header__links-container">
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#about">About OxMiner</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#why">Why OxMiner?</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#line-up">Line-up</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#team">Team</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html">Contacts</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="./404.html">White Paper</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="./404.html">DApp</a>
                            </li>
                        </ul>

                        <div class="header__social-container">
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/discord-icon.png" alt="Discord" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/telegram-icon.png" alt="Telegram" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/twitter-icon.png" alt="Twitter" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/yt-icon.png" alt="YouTube" /></a>
                        </div>

                    </div>
                </nav>

            </div>
        </header>

        <section class="notfound">
            <h1 class="notfound__title">404 - Page doesn't exist</h1>
            <a class="notfound__link" href="../index.html">Go to the homepage</a>
        </section>
    </div>

    <footer class="footer" id="contacts">
        <div class="footer__content">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="../images/logo-type-part.svg" alt="logo" />
            </div>

            <div class="footer__text-container">
                <p class="footer__text">GTAEurope OÜ (16520173)<br>
                    Address: Harju maakond,<br> Tallinn, Lasnamäe linnaosa,<br> Lõõtsa tn 2a, 11415, Estonia<br>
                    +372 56810800
                </p>
                <p class="footer__email">Email: <a class="footer__email-link"
                        href="mailto: info@oxminer.io">info@oxminer.io</a></p>
                <p class="footer__text">Copyright &#169 2023 OxMiner&#174<br> All rights reserved.</p>
            </div>

            <div class="footer__social-container">
                <p class="footer__text">Follow us:</p>
                <div class="footer__social-icon-container">
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/discord-icon.png"
                            alt="Discord" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../images/telegram-icon.png" alt="Telegram" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/twitter-icon.png"
                            alt="Twitter" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/yt-icon.png"
                            alt="YouTube" /></a>
                </div>
            </div>

        </div>
        <div class="footer__legal-container">
            <a class="footer__legal-text" href="./privacyPolicy.html">Privacy policy</a>
            <a class="footer__legal-text" href="./termsAndConditions.html">Terms & Conditions</a>
        </div>
    </footer>

    <script type="text/javascript" src="../index.js"></script>
</body>

</html>