<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/index.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>OxMiner</title>
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="header__content">

                <nav class="header__nav-bar">
                    <a href="../index.html">
                        <img class="header__logo" src="../images/logo-icon.svg" alt="Logo" />
                    </a>

                    <div class="header__hamburger">
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                        <span class="header__hamburger-line"></span>
                    </div>

                    <div class="header__nav-container">
                        <ul class="header__links-container">
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#about">About OxMiner</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#why">Why OxMiner?</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#line-up">Line-up</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#team">Team</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="../index.html#contacts">Contacts</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="./DApp.html">White Paper</a>
                            </li>
                            <span class="header__line">|</span>
                            <li class="header__link-item">
                                <a class="header__link" href="./404.html">DApp</a>
                            </li>
                        </ul>

                        <div class="header__social-container">
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/discord-icon.png" alt="Discord" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/telegram-icon.png" alt="Telegram" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/twitter-icon.png" alt="Twitter" /></a>
                            <a class="header__social" href="#"><img class="header__social-icon"
                                    src="../images/yt-icon.png" alt="YouTube" /></a>
                        </div>

                    </div>
                </nav>

            </div>
        </header>

        <section class="terms">
            <div class="terms__content">
                <img class="terms__logo" src="../images/logo-type-part.svg" alt="OxMiner" />
                <h1 class="terms__title">Disclaimer:</h1>
                <p class="terms__text">After reading this document or engaging with 0xMiner in any other way, please
                    ensure that you are
                    familiar with all the terms used in this document, on our website, and in any other issued
                    materials. If you have any questions or doubts about the terms and definitions we use, please feel
                    free to contact us via email at info@oxminer.io. Understanding the project's terminology is
                    essential for a transparent and informed engagement with 0xMiner.</p>

                <h2 class="terms__title">Executive Summary</h2>
                <p class="terms__text">This document serves as the official whitepaper of 0xMiner, a visionary company
                    at the forefront of decentralized finance and blockchain technology. 0xMiner stands as a beacon of
                    innovation in the cryptocurrency landscape, offering a Secure and profitable Crypto Solution that
                    combines NFTs with Bitcoin mining to provide users with unparalleled opportunities for lucrative
                    returns and long-term investment avenues.
                    <br><br>
                    Bitcoin mining, the process of verifying and adding new transactions to the blockchain, has
                    traditionally demanded specialized hardware, software, and substantial energy resources. This
                    exclusivity has made it challenging for individuals to participate in Bitcoin mining.
                    <br><br>
                    0xMiner solves this problem by tokenizing Bitcoin mining contracts. This means that users can
                    purchase a fraction of a mining contract without having to invest in the hardware, software, and
                    energy required to mine Bitcoin themselves.
                    <br><br>
                    But we don't stop there. 0xMiner's mission is to enhance the utility of various digital assets,
                    including meme, multiverse, and gaming tokens, with a focus on boosting both token value and
                    community engagement.
                    <br><br>
                    The time to invest in 0xMiner is now. We strategically acquired mining devices during the Bear
                    market, positioning ourselves for the impending Bull Run. With the potential for ASIC prices to
                    surge up to 10x during Bull Markets and Bitcoin's value forecasted to reach $100,000 by 2024, the
                    opportunities for long-term gains are quite remarkable.
                    <br><br><br>
                </p>
            </div>

            <div class="dapp__links">
                <a class="dapp__link-yellow" href="../templates/DApp/introduction.html"><img class="dapp__button"
                        src="../images/arrow-back.png" alt="home" />Homepage</a>
                <a class="dapp__link-green" href="../templates/DApp/introduction.html"><img class="dapp__button"
                        src="../images/arrow-next.png" alt="next" />Introduction</a>
            </div>
        </section>
    </div>

    <footer class="footer" id="contacts">
        <div class="footer__content">
            <div class="footer__logo-wrap">
                <img class="footer__logo" src="../images/logo-type-part.svg" alt="logo" />
            </div>

            <div class="footer__text-container">
                <p class="footer__text">GTAEurope OÜ (16520173)<br>
                    Address: Harju maakond,<br> Tallinn, Lasnamäe linnaosa,<br> Lõõtsa tn 2a, 11415, Estonia<br>
                    +372 56810800
                </p>
                <p class="footer__email">Email: <a class="footer__email-link"
                        href="mailto: info@oxminer.io">info@oxminer.io</a></p>
                <p class="footer__text">Copyright &#169 2023 OxMiner&#174<br> All rights reserved.</p>
            </div>

            <div class="footer__social-container">
                <p class="footer__text">Follow us:</p>
                <div class="footer__social-icon-container">
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/discord-icon.png"
                            alt="Discord" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon"
                            src="../images/telegram-icon.png" alt="Telegram" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/twitter-icon.png"
                            alt="Twitter" /></a>
                    <a class="footer__social" href="#"><img class="footer__social-icon" src="../images/yt-icon.png"
                            alt="YouTube" /></a>
                </div>
            </div>

        </div>
        <div class="footer__legal-container">
            <a class="footer__legal-text" href="./privacyPolicy.html">Privacy Policy</a>
            <a class="footer__legal-text" href="./termsAndConditions.html">Terms & Conditions</a>
        </div>
    </footer>

    <script type="text/javascript" src="../index.js"></script>
</body>

</html>