.team__table-card-text {
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
    font-style: bold;
    letter-spacing: 1.2px;
    margin-top: 10px;
    color: rgb(45, 51, 123);
    text-align: center;
}