.ecos__join-text {
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
    color: rgb(62, 65, 162);
}

@media screen and (max-width:500px) {
    .ecos__join-text {
        font-size: 12px;
    }
  }