.ecos__join {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    background-color: white;
    -webkit-box-shadow: 12px 15px 5px 1px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 12px 15px 5px 1px rgba(34, 60, 80, 0.22);
    box-shadow: 12px 15px 5px 1px rgba(34, 60, 80, 0.22);
    border-radius: 10px;
    margin-top: -40px;
}

@media screen and (max-width:800px) {
    .ecos__join {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
    }
}

.ecos__mark {
    font-size: 40px;
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(62, 65, 162);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 25px;
}

@media screen and (max-width:800px) {
    .ecos__mark {
        display: none;
    }
}

.ecos__jointext {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
    color: rgb(62, 65, 162);
}

@media screen and (max-width:500px) {
    .ecos__jointext {
        font-size: 10px;
    }
}

.ecos__span {
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

@media screen and (max-width:500px) {
    .ecos__span {
        font-size: 14px;
    }
}

.ecos__link {
    width: 25%;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(167, 207, 73);
    font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45, 51, 123);
    font-weight: 600;
    letter-spacing: 1.2px;
    opacity: 1;
    transition: 0.2s linear;
}

.ecos__link:hover {
    opacity: 0.8;
    transition: 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .ecos__link {
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    .ecos__link {
        font-size: 10px;
        margin-right: 0px;
        width: 30%;
    }
}

.ecos__socialicon {
    width: 25px;
}

@media screen and (max-width:650px) {
    .ecos__socialicon {
        width: 20px;
    }
}

@media screen and (max-width:500px) {
    .ecos__socialicon {
        width: 16px;
    }
}