.info__text-container {
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
}

@media screen and (max-width:850px) {
    .info__text-container {
        width: 90%;
    }
  }