.info__card-text {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color:rgb(61,69,156);
}

@media screen and (max-width:1000px) {
    .info__card-text {
        font-size: 15px;
    }
  }