.comingsoon {
    margin-top: 100px;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home__logo {
    max-width: 300px;
}

@media screen and (max-width:1000px) {
    .home__logo {
        max-width: 250px;
    }
  }

  @media screen and (max-width:830px) {
    .home__logo {
        margin-top: 20px;
        max-width: 300px;
    }
  }

  @media screen and (max-width:430px) {
    .home__logo {
        max-width: 200px;
    }
  }

  .comingsoon__title {
    font-size: 50px;
    letter-spacing: 1.2px;
    color: white;
    margin-bottom: 0px;
    font-weight: 800;
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:800px) {
    .comingsoon__title {
        font-size: 40px;
    }
  }

  @media screen and (max-width:600px) {
    .comingsoon__title {
        font-size: 30px;
    }
  }

  @media screen and (max-width:450px) {
    .comingsoon__title {
        font-size: 20px;
    }
  }

  .comingsoon__link {
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,224,79);
    font-family: 'Gotham','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45,51,123);
    font-weight: 800;
    letter-spacing: 1.2px;
    opacity: 1;
    transition: 0.2s linear;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

.comingsoon__link:hover {
    opacity: 0.8;
    transition: 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width:550px) {
  .comingsoon__link {
    font-size: 18px; 
}
}

@media screen and (max-width:400px) {
  .comingsoon__link {
    font-size: 16px; 
}
}